<div class="page">
  <div class="header">
    <div class="title">
      <img
        src="https://freesvg.org/img/fficient%20energy%20-%20ficiencia%20energtica.png"
      />
      <h2>Contract Manager Features</h2>
    </div>
    <button type="button">Book Demo</button>
  </div>
  <div class="content">
    <div class="product-wrapper">
      <div class="product" *ngFor="let product of products">
        <div>
          <div class="product-name">{{ product.name }}</div>
          <div class="product-price">Price: R{{ product.price }}</div>
        </div>
        <img [src]="product.image" class="product-image" />
      </div>
    </div>
  </div>

  <div class="footer">
    <table>
      <tr>
        <td>Contact us |</td>
        <td>Privacy policy |</td>
        <td>Terms of service |</td>
      </tr>
    </table>
  </div>
</div>
